<div class="form"><h1>adicionar um usuario</h1>
<form action="/users/create" method="POST" >
    <div class="form-control">
        <label for="name">Nome:</label>
        <input type="text" name="name"  placeholder="Digite seu nome">
    </div>
    <div class="form-control">
        <label for="occupation">Cargo:</label>
        <input type="text" name="occupation" placeholder="Digite seu cargo">
    </div>
    <br>
    <div class="form-contro">
        <input type="checkbox" name="newsletter" checked >
        <label for="newsletter">enviar promoções?</label>
    </div>
    <br>
    <br>
    <button type="submit">Adicionar</button>
</form>
</div>